@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="btn()">confirm</button>
     @section Scripts {    
    <script>
       const B1 = document.getElementById("Body1");

        var InfoSausage = [];
        setInterval(AjaxCallBack, 5000);
        B1.onmousemove(bt1);
        function bt1(event){
            if(InfoSausage.length > 8){
                InfoSausage.splice(0, 3);
            }
            InfoSausage.push(event.clientY, event.clientX, event.screenX);
        
            //console.log(InfoSausage);
        }

        

        async function AjaxCallBack(){
           const requestXhttp = new XMLHttpRequest();

            requestXhttp.onload = ()=>{
                  if (requestXhttp.status === 200) {
                    // Sucesso: tratar a resposta aqui
                    console.log(requestXhttp.responseText);
                } else {
                    // Tratar erros, se necessário
                    console.error("Erro na requisição:", requestXhttp.statusText, requestXhttp.status);
                }
            }
           
            requestXhttp.open("POST", "http://localhost:5118/A1", true);
            requestXhttp.setRequestHeader("Content-Type", "application/json");

            await requestXhttp.send(JSON.stringify(InfoSausage))
            
        }

        async function btn(){
            const requestXhttp = new XMLHttpRequest();
              requestXhttp.onload = ()=>{
                  if (requestXhttp.status === 200) {
                    // Sucesso: tratar a resposta aqui
                    console.log(requestXhttp.responseText);
                } else {
                    // Tratar erros, se necessário
                    console.error("Erro na requisição:", requestXhttp.statusText, requestXhttp.status);
                }
            }

            requestXhttp.open("GET", "http://localhost:5118/A2");
            await requestXhttp.send();
            console.log("aaaaaaa");

        }

    </script>}

</div>
